<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
  {{ partial "head.html" . }}
  <body>
    <div class="body-container">
      {{ partial "nav-bar.html" . }}
      <main class="content side-text-padding">
        {{ partial "post-header.html" . }}
        {{ partial "post-content.html" . }}
        {{ partial "post-footer.html" . }}
      </main>
      <nav class="end-nav side-padding">
        {{ with .PrevInSection }}
          {{ .Render "li-next" }}
        {{ end }}
        {{ partial "home-card.html" . }}
      </nav>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
