<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
{{ partial "head.html" . }}

<body>
  <div class="page-content">
    {{ partial "nav-bar.html" . }}

    <!-- Content Body -->

    <article class="post-body h-entry">
      <div class="post-content">
        {{ .Content }}
      </div>


      <!-- Quoted Content -->
      {{ if (and (isset .Params "quote_title") (isset .Params "quote_link")) }}
      <div class="quote-link">
        &#128172;
        <a href="{{ .Params.quote_link }}" class="u-in-reply-to">{{ .Params.quote_title }}</a>
      </div>
      {{ end }}

      <div class="card-subtext muted-text">
        <p>Posted <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time></p>
        {{ if (isset .Params "categories") }}<p>{{ range .Params.categories }}#{{ . | urlize | title }} {{ end }}</p>
        {{ end }}
      </div>

    </article>

    <!-- Next Post Card & Home Card -->
    <nav>
      {{ partial "home-card.html" . }}
    </nav>

    {{ partial "business-card.html" . }}
    {{ partial "foot.html" . }}

  </div>
  {{ partial "scripts.html" . }}
</body>

</html>
