/*
 * Navigation CSS
 */

.nav-bar {
    font-family: Verdana, Geneva, sans-serif;
    background: white;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    border-bottom: 1px black solid;
}

.nav-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0;
}

.nav-header>a {
    padding-left: 0.5em;
}

/* END Navigation CSS */

/*
 * Post Header CSS
 */

.post-header {
    padding-top: 2em;
}

h1.post-title {
    font-size: 1.8em;
}

.post-attributes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.post-attributes>p {
    margin: 0;
}

.post-attributes>p+p {
    margin-left: 1em;
    padding-left: 1em;
    border-left: thin solid #7a7b7c;
}

.post-link {
    color: #7a7b7c;
}

@media screen and (min-width: 40.063em) {
    .post-header {
        padding-top: 1em;
    }
}

/* END Post Header CSS */

/*
 * Post Content CSS
 */

.post-content>picture>img {
    margin-top: 0.2em;
}

/* END Post Content CSS */

/*
 * Post Footer CSS
 */

.post-footer {
    display: block;
}

.post-footer>ul {
    list-style-type: none;
}

/* END Post Footer CSS */

/*
 * Card CSS
 */

.next-card {
    margin-top: 2em;
}

.next-card>a {
    text-decoration: none;
}

.card-display {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.card-img-container {
    position: relative;
}

.card-img {
    border-radius: 0.3rem;
    object-fit: cover;
}

.card-img-overlay {
    border-radius: 0.3rem 0.3rem 0 0;
    position: absolute;
    top: 0;
    font-size: 1.27em;
    text-align: center;
    padding: 0.6em 0 0.5em 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
}

.card-text-container {
    padding: 1em;
    text-align: center;
}

.card-title {
    margin: 0;
    line-height: 1.2;
}

.card-summary {
    margin: 1em 0;
    line-height: 1.5;
}

@media screen and (min-width: 40.063em) {
    .card-display {
        display: flex;
        flex-direction: row;
    }
    .card-text-container {
        text-align: left;
    }
}

/* END Card CSS */

/*
 * Home Card CSS
 */

.home-card {
    text-decoration: none;
    display: block;
    text-align: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.home-card>span {
    font-size: 2em;
    font-weight: bold;
    background-color: white;
    padding: 0 0.4em 0.2em 0.4em;
}

/* END Home Card CSS */

/*
 * Business Card CSS
 */

.business-card-container {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}

.business-card-info {
    flex: 30%;
    text-align: center;
}

.business-card-text {
    flex: 70%;
}

.copyright {
    text-align: right;
    font-size: 0.8em;
}

.u-photo {
    position: relative;
    max-width: 250px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 40.063em) {
    .business-card-container {
        display: flex;
        flex-direction: row;
    }
    .business-card-text {
        padding-left: 1em;
    }
}

/* END Business Card CSS */

/*
 * List Header CSS
 */

.list-header {
    margin-top: 4em;
    text-align: center;
}

h1.list-header-title {
    margin: 0.1em 0 0.2em 0;
    font-size: 2.2em;
    text-transform: uppercase;
}

@media screen and (min-width: 40.063em) {
    .list-header {
        margin-top: 2em;
        text-align: center;
    }
}

/* END List Header CSS */

/*
 * List Pagination CSS
 */

 .list-pagination-container {
     display: flex;
     margin-top: 1em;
 }

 .list-pagination-left {
     flex: 50%;
     text-align: left;
 }

 .list-pagination-left-number {
     margin-left: 0.2em;
 }

 .list-pagination-right-number {
     margin-right: 0.2em;
 }

 .list-pagination-right {
     flex: 50%;
     text-align: right;
 }

/* END List Pagination CSS */
/*

DELETE AFTER THIS

*/

/*
 * Single Post CSS
 */

.title-img-container {
    position: relative;
    width: 50%;
    height: auto;
    margin: auto;
}

.title-img {
    border-radius: 50%;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.19), 0 0.3rem 0.3rem -0.1rem rgba(0, 0, 0, 0.23);
    z-index: 0
}

.title-img-overlay {
    padding: 0.5em 0em 0.7em 0em;
    position: absolute;
    left: 30%;
    width: 40%;
    text-align: center;
    background-color: #ecedef;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.19), 0 0.3rem 0.3rem -0.1rem rgba(0, 0, 0, 0.23) inset;
}

.dropcase>p:first-of-type::first-letter {
    float: left;
    font-size: 3em;
    line-height: 1;
    margin: 0.05em 0.15em -0.1em 0;
    /* initial-letter: 2; Maybe someday*/
}

.body-container {
    background-color: white;
    padding: 2em 0;
    width: 100%;
    max-width: 52rem;
}

/*
 * Post Header CSS
 */

/*
 * Inline Quotes CSS
 */

.post-accordion-hide {
    display: none;
}

.post-accordion {}

.post-accordion-quote:hover {
    background-color: white;
}

.post-accordion-quote {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.19) inset, 0 0.3rem 0.3rem -0.1rem rgba(0, 0, 0, 0.23) inset;
    background-color: #ecedef;
}

/*
 * Post Footer CSS
 */

.post-list {
    background-color: white;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.19), 0 0.3rem 0.3rem -0.1rem rgba(0, 0, 0, 0.23);
    border-radius: 1em;
}

/*
 * List Page CSS
 */

/*
 * Card CSS
 */

.card-container {
    max-width: 49rem;
}

.card-container>a:first-of-type {
    margin-top: 5em;
}

.card {
    display: block;
    margin: 2.2rem 0;
    box-sizing: border-box;
    background-color: white;
    text-decoration: none;
    border-radius: 0.3rem;
}

/*
 * page footer
 */

/*
 * Diagram CSS
 */

.diagram-svg {}

.diagram-node-circle {
    stroke: black;
    fill: gray;
}

.diagram-node-text {
    fill: black;
    font-variant: small-caps;
    font-family: Verdana, Geneva, sans-serif;
}

.diagram-link {
    stroke: gray;
    stroke-width: 1;
    opacity: 40%;
}

/*
 * Pagination CSS
 */

.pagination-nav {
    width: 100%;
    max-width: 47rem;
}

.newer-page-number {
    margin: 0 0em 0 0.5em;
}

.older-page-number {
    margin: 0 0.5em 0 0em;
}

.pagination-newer {
    float: left;
}

.pagination-older {
    float: right;
}

.button {
    padding: 0.5em 0.6em;
    background-color: #FFF;
    text-decoration: none;
    border-radius: 0.3rem;
    transition: transform 0.1s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.16), 0 0.15rem 0.3rem rgba(0, 0, 0, 0.23);
}

.button:hover {
    box-shadow: 0 0.05rem 0.15rem rgba(0, 0, 0, 0.12), 0 0.05rem 0.1rem rgba(0, 0, 0, 0.24);
    transform: scale(0.97);
}

.button:active {
    transform: scale(1);
}

.side-gutter {
    margin-left: 1.2rem !important;
    margin-right: 1.2rem !important;
}

.small-pic {
    display: block;
    margin-top: 1.5em;
}

.small-img {
    width: unset;
    max-width: 100%;
    margin: 0 auto 1.5em auto;
}

.katex-display {
    margin: 1.5em 0;
    overflow-x: auto;
    overflow-y: hidden;
}

#disqus_thread {
    margin-top: 5em;
}

.no-scroll {
    overflow: hidden;
    position: fixed;
}

.clear {
    clear: both;
}

.tag-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.end-nav {
    width: 100%;
    max-width: 49rem;
}