/*
 * Small Screen CSS
 */

@media screen and (pointer: coarse) {
    .card-hover {
        transform: scale(0.95);
        box-shadow: 0 0.15rem 0.3rem 0 rgba(0, 0, 0, 0.16), 0 0.15rem 0.3rem -0.04rem rgba(0, 0, 0, 0.23);
    }
}

@media not screen and (pointer: coarse) {
    .card:hover {
        transform: scale(0.97);
        box-shadow: 0 0.15rem 0.3rem 0 rgba(0, 0, 0, 0.16), 0 0.15rem 0.3rem -0.04rem rgba(0, 0, 0, 0.23);
    }
    .card:active {
        transform: scale(1);
    }
}