<footer class="side-gutter"><a name="card"></a>

<div class="footer-flex footer-container h-card">
  <div class="footer-info">
    <img class="u-photo" src="{{ "img/selfie.jpg" | absURL | safeCSS }}" />
    <a class="p-name u-url" style="display: none;" href="https://alexbilson.dev">Alex Bilson</a>
    <a class="u-email" href="mailto:acbilson@gmail.com">acbilson@gmail.com</a><br />
    <span class="p-locality">Chicago</span>,
    <span class="p-country-name">Illinois</span>
  </div>

  <div class="footer-text">
    <p>Does technology intimidate you? Do you wish that you had a coach who'll build your confidence? A consultant to show you what's possible and integrate your business with the digital community? An analyst who'll protect your digital real estate and optimize your business processes?</p>

    <p>Translating technological chaos into orderly tools for business owners and managers is my passion. Call or text me at (480) 300-1863 to schedule your first experience.</p>

    <p style="text-align: center;">
    <a href="https://github.com/acbilson" rel="me authn">Alex on Github </a>
    &#9675;
    <a href="https://www.linkedin.com/in/alexander-bilson-21089b35/" rel="me"> Alex on LinkedIn</a>
    </p>
  </div>
</div>

  <div class="footer-copyright"><span>&#169; Copyright 2020, Alex Bilson</span></div>

</footer>

