<!-- Site Navigation -->
<nav class="nav-bar">

  <!-- Site Links Header -->
  <div class="nav-header">
    <a href="{{ .Site.BaseURL }}">Home</a>
    <a href="{{ .Site.BaseURL }}/posts/">All</a>
    {{ range $key, $value := .Site.Taxonomies.categories -}}
    {{ with $.Site.GetPage (printf "%s%s" "categories/" ($key | urlize)) }}
    <a href="{{ .Permalink }}">{{ .Title }}</a>
    {{ end }}
    {{- end }}

    {{ range where .Site.Pages "Params.displayinmenu" true -}}
    <a href="{{ .Permalink }}" class="hamburger-menu-overlay-link">{{ .Title }}</a>
    {{ end -}}
  </div>
</nav>