<!-- Lists citations and addendum if present in post params -->
{{ with .Params.citations }}
  <h3><a name="citations">Citations</h3>
  <ul>
  {{ range . }}
    <li class="post-citation">{{ . }}</li>
  {{ end }}
  </ul>
{{ end }}
{{ with .Params.addendum }}
  <h3><a name="addendum">Addendum</h3>
  <ul>
  {{ range $index, $val := . }}
  <li class="post-addendum"><sup>[{{ add $index 1 }}]</sup>{{ $val }}</li>
  {{ end }}
  </ul>
{{ end }}

<p class="post-footer">To leave a comment, <a href="mailto:acbilson@gmail.com">email me</a> with a reference to this post and I may add your comment directly to the post. :)</p>
