<div class="post-attributes">
  {{ if isset .Params "date" }}
  <p>Posted <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time></p>
  {{ end }}
   <!-- Adds tags to the post if they exist -->
  {{ $taxo := "tags" }}
  {{ if isset .Params $taxo }}
  <p>Tags:
    {{ range $name := .Param $taxo }}
      {{ with $.Site.GetPage (printf "/%s/%s" $taxo ( $name | urlize)) }}
      <span><a class="post-link" href="{{ .Permalink }}">{{ $name }}</a></span>
      {{ end }}
    {{ end }}
  </p>
  {{ end }}
</div>
